.FiltersButton {
  display: flex;
  align-items: center;
  height: 3.2rem;
  padding: 0;
  background: #FFFFFF;
  border: none;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  cursor: pointer;
  font-family: 'Mulish',
    sans-serif;
  font-size: 14px;
  align-self: center;
  margin: 1rem 0;
}

.FiltersButton__location,
.FiltersButton__guests,
.FiltersButton__search {
  padding: 0 1rem;
}

.FiltersButton__line {
  width: 2px;
  height: inherit;
  background-color: #F2F2F2;
}

.FiltersButton__guests {
  color: #BDBDBD;
}

.FiltersButton__search {
  color: #EB5757;
}

@media only screen and (min-width: 600px) {
  .FiltersButton {
    margin: 0;
  }
}