.FilterDrawer__container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 100;
  transition: height 2s ease-in-out;
  padding-bottom: 3rem;
}

.FilterDrawer__overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(79, 79, 79, 0.4);
  width: 100%;
  height: 100%;
  z-index: 50;
}