.Footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.Footer__text {
  font-size: 0.85rem;
  color: #828282;
}

.Footer__text a {
  font-weight: 700;
  color: #828282;
}