@import-normalize;

.App {
  font-family: 'Montserrat',
    sans-serif;
  color: #333333;

  /* For the footer */
  position: relative;
  min-height: 95vh;
}

@media only screen and (min-width: 600px) {
  .App {
    margin: 0 5%;
  }
}